#current-condition{
 border:none;
}

.jumbotron{
   padding:1rem 0;
}

.search-container{
   margin-bottom:2%;
}

.btn{
   margin-top:10px;
   width:100%;
   text-align: center;
}

.future-condition-container{
   gap:1%;
}

.days{
   height: 400px;
   width: 20%;
   line-height: 4;
   font-weight: 700;
   margin:0;
   padding:0;
   list-style-type: none;
}

.search-container{
   height:183.60px;
}

.search-history{
   position:relative;
   bottom:20px;
}