#current-condition{
 min-height: 10rem;
}

.jumbotron{
   padding:1rem 0;
}

.search-container{
   margin-bottom:2%;
}

.btn{
   margin-top:10px;
   width:100%;
   text-align: center;
}

main{
   gap:20px;
}

.days {
   min-width:10%;
   margin:0;
   padding:0;
   list-style-type: none;
   line-height: 4;
   font-weight: 700;
}